<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/index.css">
    <script src="../services/actions.js" defer></script>
    <title>Carx lights control panel</title>
</head>

<body>
    <div class="container">
        <header>
            <div>carx lights Manager</div>
            <p id="close">X</p>
        </header>
        <fieldset>
            <legend>strobe headlights</legend>
            <div class="settings">
                <label for="strobe_headlights">interval time (milliseconds)</label>
                <input type="number" name="strobe_headlights" id="strobe_headlights" placeholder="1000 = 1 second"
                    min="0">
            </div>
            <div class="switch__container">
                <label for="strobe_headlights_switch" class="sr__only">headlights_switch</label>
                <input type="checkbox" name="strobe_headlights_switch" id="strobe_headlights_switch" class="switch">
            </div>
        </fieldset>
        <fieldset>
            <legend>random headlights</legend>
            <div class="settings">
                <label for="random_headlights">interval time (milliseconds)</label>
                <input type="number" name="random_headlights" id="random_headlights" placeholder="1000 = 1 second"
                    min="0">
            </div>
            <div class="switch__container">
                <label for="random_headlights_switch" class="sr__only">headlights_switch</label>
                <input type="checkbox" name="random_headlights_switch" id="random_headlights_switch" class="switch">
            </div>
        </fieldset>
        <fieldset>
            <legend>strobe underglow</legend>
            <div class="settings">
                <label for="strobe_underglow">interval time (milliseconds)</label>
                <input type="number" name="strobe_underglow" id="strobe_underglow" placeholder="1000 = 1 second"
                    min="0">
            </div>
            <div class="switch__container">
                <label for="strobe_underglow_switch" class="sr__only">underglow_switch</label>
                <input type="checkbox" name="strobe_underglow_switch" id="strobe_underglow_switch" class="switch">
            </div>
        </fieldset>
    </div>
</body>

</html>