<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <input type="number" name="time" id="time">

    <input type="checkbox" name="start" id="start">

    <script>
        const { ipcRenderer } = require("electron")



        const ativo = document.querySelector("#start");

        ativo.addEventListener("click", event => {
            const time = parseInt(document.querySelector("#time").value)
            if (ativo.checked) {
                ipcRenderer.send("start", time)
                console.log("ativou", time)
            } else {
                ipcRenderer.send("stop")
                console.log("desativou")

            }
        })


    </script>
</body>

</html>